
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../asset/style.css" type="text/css">
    <script src="../asset/todo-list.js"></script>
</head>
<body>
    <div id="todo-table">

        <form>
            <input type="text" value="try">
            <button type="submit" >添加</button>
        </form>

        <ul>
            <li>11111111111111111111</li>
            <li>22222222222222222222</li>
        </ul>

    </div>
</body>
</html>
